@font-face {
  font-family: font;
  src: url(./font.ttf);
}
:root {
  --back: #f0f0f0;
  --shadow-color: #0000005;
  --bounce-color: #181818;
}

* {
  box-sizing: border-box;
  font-family: font;
  border: none;
  font-weight: 500;
  outline: none;
  text-shadow: 4px 4px 6px #0002;
  text-decoration: none;
  color: #121212;
  scroll-behavior: smooth;
  user-select: none;
  margin: 0;
  cursor: none;
}

body {
  background: var(--back);
  text-align: center;
  padding: 0 24px;
}

p {
  color: gray;
}

header {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

nav {
  width: max-content;
  display: flex;
  gap: 24px;
  padding: 24px;
  border-radius: 16px;
  margin: 0px auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--back);
  box-shadow: #f0f0f060 0px 20px 20px;
}
.btn-nav {
  position: relative;
}
.btn-nav::after {
  position: absolute;
  background: var(--rgb);
  bottom: 0;
  left: 50%;
  top: auto;
  content: '';
  height: 3px;
  width: 0%;
  transform: translateX(-50%);
  transition: 0.1s;
  border-radius: 5px;
}
.btn-nav:hover::after {
  width: 100%;
}
.shadow {
  border-top: 3px solid #fff1;
  border-left: 3px solid #fff1;
  box-shadow: var(--shadow-color) 2px 2px 2px, var(--shadow-color) 4px 4px 4px,
    var(--shadow-color) 8px 8px 8px, var(--shadow-color) 16px 16px 16px,
    var(--shadow-color) 32px 32px 32px, var(--shadow-color) 64px 64px 64px,
    var(--bounce-color) 0px 0px 16px;

  transition: font-size 0.5s, font-weight 0.5s;
}
.shadow:hover {
  font-size: 12pt;
  font-weight: 900;
}
.rgb-stroke {
  stroke: var(--rgb);
}
.rgb {
  color: var(--rgb);
}

.mouse-lerp {
  position: fixed;
  width: 25px;
  height: 25px;
  left: var(--mouse-x-lerp);
  top: var(--mouse-y-lerp);
  transform: translate(-50%, -50%);
  border: 3px solid var(--rgb);
  border-radius: 100%;
  pointer-events: none;
}
.mouse {
  position: fixed;
  width: 5px;
  height: 5px;
  left: var(--mouse-x);
  top: var(--mouse-y);
  transform: translate(-50%, -50%);
  background: var(--rgb);
  border-radius: 100%;
  pointer-events: none;
}
a,
button {
  transition: font-weight 0.2s;
}
a:hover .mouse-lerp,
button:hover .mouse-lerp {
  opacity: 0;
}
button {
  background: var(--back);
  padding: 12px;
  border-radius: 12px;
}

a:hover,
button:hover {
  color: var(--rgb);
  font-weight: 900;
}
::-webkit-scrollbar {
  display: none;
}
svg {
  filter: drop-shadow(4px 4px 4px var(--shadow-color));
}

